@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos del logotipo del login */
.imageUser{
  margin-top: -95px;
}

/* Image de fondo para el login */
.bg-login{
  background-image: url("assets/fondologin.jpg");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  
}

.bg-opacity{
  background-color: rgba(0, 0, 0, 0.4);
}

.Tilwarp{
  font-family: 'Tilt Warp', cursive;
}

.bg-dash{
  background: #2C2C2C;
}
.bg-wt{
  background: rgba(255, 255, 255, 0.9);
}

.bg-primary{
  background: #474747;
}

.bgp{
  background: #ffffff;
}